{% extends 'base.system.html.twig' %}

{% block submenu %}
     Zugriff verboten
{% endblock %}

{% block message %}

        <h1>Zugriff verboten</h1>
        <p>
            Ups. Es sieht so aus, als ob du gerade versucht hast eine Seite zu besuchen, f&uuml;r die du keine Rechte besitzt. Dies kann passieren, wenn du zum
            Bispiel nicht angemeldet bist. Versuche es doch nach der Anmeldung einfach noch einmal und schau was passiert.
        </p>
        <p style="padding-top: 50px;">
            <span class="highlight"><a href="javascript:showLoginModal()">Anmelden</a></span>
        </p>

{% endblock %}