{% extends "base.modal.html.twig" %}

{% block body %}
    <div class="modal_form">
        <h2>Passort zur&uuml;cksetzen</h2>
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>
{% endblock %}
