{% extends "base.system.html.twig" %}

{% block submenu %}
     Passwort zur&uuml;cksetzen
{% endblock %}

{% block message %}

        <h1>Passwort zur&uuml;cksetzen</h1>
        <div id="reset_form">
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>

{% endblock %}
