{% extends "base.system.html.twig" %}

{% block submenu %}
     Registrierung abgeschlossen
{% endblock %}

{% block message %}

        <h1>Passwort zurücksetzen</h1>
        <p>
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </p>

{% endblock %}