{% extends 'base.html.twig' %}

{% block submenu %}
        Favoritenkanal
{% endblock %}

{% block title %}Mein Favoritenkanal{% endblock %}

{% block body %}

    <div class="center">
    	<h1>Kan&auml;le, denen ich folge</h1>
    </div>

    <div class="content tilelist" style="padding-top: 100px;">
         {% include "AmilioCoreBundle:Channel:render_element_list.html.twig" with { "elements": favs, "hideMenu": true } %}
    </div>

{% endblock %}
