{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="center">
    	<h1 style="font-size: 35px; font-weight: normal; font-family: 'Dancing Script', cursive;">&Uuml;bersicht</h1>
    </div>
	

    <div class="content tilelist" style="padding-top: 100px;">
         {% include "AmilioCoreBundle:Channel:render_element_list.html.twig" with { "elements": favs, "hideMenu": true } %}
    </div>
    
{% endblock %}
