<div id="productlist">
            
    {% for product in products %}
        {% include "AmilioCoreBundle:Product:render_product.html.twig" with { "product": product } %}
    {% endfor %}
    
    <script type="text/javascript">
        var $container = $('#productlist');
        // init
        $container.isotope({
          // options
          itemSelector: '.item',
          layoutMode: 'masonry'
        });
    </script>

</div>