{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1>Produkt in Kanal &uuml;bernehmen</h1>
    
     {{ product.name }} 
    
    <h2>Kan&auml;le</h2>
    
    <ul>
        {% for channel in channels %}
            <li><a href="{{ path('amilio_core_product_share_store', {'userName': channel.owner, 'channelName': channel.canonicalname}) }}">{{ channel.name }}</a></li>
        {% endfor %}
    </ul>
    
{% endblock %}