<style>
.highlight {
    color:#fff;
    background:#FF0066;
    box-shadow:10px 0 0 #FF0066, -10px 0 0 #FF0066;
    padding: 5px 0;
}
</style>

<div class="item" style="{% if item.previewImage %}background-image: url(/upload/channel/{{ item.previewImage }}){% endif %}">
	<div>
		<div style="width: 150px; margin-top: 220px; padding-left: 25px;">
			<span class="highlight" style="line-height: 34px"><a style="color: white" href="{{ path('amilio_core_channel_show', {'channel': item.id, 'canonicalName': item.canonicalname}) }}">{{ item.name }}</a></span>
		</div>
	</div>
</div>
