{% extends 'base.html.twig' %}

{% block body %}

 <div class="center"><h2>Beliebteste Kan&auml;le</h2></div>
 <div class="content" style="padding-top: 50px; position: relative; left: -15px; width: 1230px">
        {% include 'AmilioCoreBundle:Channel:render_channel_list.html.twig' with {'listname': 'mostFollowedChannelsList', 'channels': mostFollowedChannels} %}
 </div>

 <div class="center"><h2>Empfohlene Kan&auml;le</h2></div>
 <div class="content" style="padding-top: 50px; position: relative; left: -15px; width: 1230px">
        {% include 'AmilioCoreBundle:Channel:render_element_list.html.twig' with {'listname': 'recommendedChannelList', 'channel': favChannel} %}
 </div>

 <div class="center"><h2>Neuste Kan&auml;le</h2></div>
 <div class="content" style="padding-top: 50px; position: relative; left: -15px; width: 1230px">
	{% include 'AmilioCoreBundle:Channel:render_channel_list.html.twig' with {'listname': 'newestChannelList', 'channels': newestChannels} %}    
 </div>  

{% endblock %}
