{% extends 'base.html.twig' %}

{% block body %}
 <div class="content">
    <h1>Kan&auml;le</h1>
    <ul>
        {% for channel in channels %}
	    {% if not(channel.parent) %}
            	<li><a href="{{ path('amilio_core_channel_show', {'channel': channel.id, 'canonicalName': channel.canonicalname}) }}">{{ channel.name }}</a></li>
            {% endif %}
	{% endfor %}
    </ul>
</div>
{% endblock %}
