{% extends 'base.html.twig' %}

{% block body %}
 <div class="content">
	<div class="center">
    		<h1 style="font-size: 35px; font-weight: normal; font-family: 'Dancing Script', cursive;">Meine Kan&auml;le</h1>
   	</div>
    	{{ include("AmilioCoreBundle:Channel:render_channel_list.html.twig") }}

</div>
{% endblock %}
