{% extends 'base.html.twig' %}

{% block submenu %}
        Meine Kan&auml;le
{% endblock %}

{% block body %}
 <div class="content">
	<div class="center">
    		<h1>Meine Kan&auml;le</h1>
   	</div>

   	<div class="tilelist">
	    {% include "AmilioCoreBundle:Channel:render_channel_list.html.twig" with {"channels": myChannels} %}
    </div>

	<div class="center">
        <h2>Empfohlene Kan&auml;le</h1>
    </div>

    <div class="tilelist">
	    {% include "AmilioCoreBundle:Channel:render_element_list.html.twig" with {"channel": favChannel, 'listname': 'favChannelList' } %}
    </div>

</div>
{% endblock %}