{% extends 'base.html.twig' %}

{% block body %}
<h1>Kan&auml;le</h1>
<ul>
    {% for channel in channels %}
        <li><a href="{{ path('amilio_core_channel_show', {'channel': channel.id, 'canonicalName': channel.canonicalname}) }}">{{ channel.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}