<div id="elementlist">
            
    {% for element in elements%}
        {% render(controller("AmilioCoreBundle:Channel:showElement", { "element": element.id })) %}
    {% endfor %}
    
</div>

    <script type="text/javascript">
        var $container = $('#elementlist');
        // init
        $container.isotope({
          // options
          itemSelector: '.item',
          layoutMode: 'masonry'
        });

        var elementToRemove;
        
        function confirmElementRemove(id)
        {
            elementToRemove = id;
            confirm(function(){
                var url = "{{ path('amilio_core_product_remove', { "element": "elementId"} ) }}";
                url = url.replace("elementId", elementToRemove);
            	$.post(url, function( data ) {
            		  location.reload();
            	});
            });
        }
        
    </script>